Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Fondo de la página */
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #3498db; /* Color del título principal */
}

button {
  background-color: #3498db; /* Color de fondo de los botones */
  color: #fff; /* Color del texto de los botones */
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9; /* Color de fondo de los botones al pasar el ratón */
}

/* Estilos para el formulario */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff; /* Fondo del formulario */
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1 {
  color: #3498db;
  margin-bottom: 20px; /* Añadido para un espacio adicional después del título principal */
}

h2 {
  color: #555;
}

p {
  color: #777;
  line-height: 1.5; /* Añadido para un espaciado entre líneas más cómodo en los párrafos */
}

button[type="submit"] {
  width: 100%;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}